@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior:smooth;
}

.developmentspace {
  min-height: 1000px;
}

:root {
  --white: #fff;
  --bg: #ff0157;
}

li {
  list-style-type: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #111;
}

/* Banner and Header */
/* Banner Start */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(Images/bg.jpg);
  background-size: cover;
  background-position: center;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 8rem;
  color: var(--white);
}

.banner .content p {
  font-size: 2rem;
  color: var(--white);
}

.btn {
  font-size: 2rem;
  color: var(--white);
  background: var(--bg);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.order-btn {
  font-size: 1.8rem;
  font-weight:400;
  color: var(--white);
  background: var(--bg);
  display: inline-block;
  padding: 8px 30px;
  margin-top: 20px;
  /* text-transform: uppercase; */
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 1rem;
  transition: 0.5s;
}

.complete-order-btn{
  text-align: center;
  border: none;
  font-size: 1.8rem;
  font-weight:400;
  color: var(--white);
  background: var(--bg);
  /* display: inline-block; */
  padding: 10px 30px;
  margin-block: 60px;
  /* text-transform: uppercase; */
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 1rem;
  transition: 0.5s;
}

.complete-order-btn:hover{
  letter-spacing: 4px;
}

.btn:hover {
  letter-spacing: 6px;
}

.order-btn:hover {
  letter-spacing: 2px;
  cursor: pointer;
}


/* Header Start */

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.cart-page{
  color: #111;
}

header .logo {
  color: var(--white);
  font-size: 3rem;
  font-weight: 700;
}

header .logo span {
  color: var(--bg);
}

header .nav-links {
  position: relative;
  display: flex;
}

header .nav-links li {
  font-size: 2rem;
  margin-left: 30px;
}

header.sticky {
  background: var(--white);
  padding: 10px 100px;
  box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
  color: #111;
}
header.sticky .nav-links li a {
  color: #111;
}

/* Menu Page Color */
header .menu-class {
  color: #111;
}
header .menu-class li a {
  color: #111;
}

/* Cart Page Color*/
header .cart-class {
  color: #111;
}
header .cart-class li a {
  color: #111;
}

header .nav-links li a:hover {
  color: var(--bg);
  /* transform:rotate(2px) */
}

/* Banner and Header Ends */

/* About Us */

section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  /* top: 30px; */
  width: 48%;
}

.titletext {
  color: #111;
  font-size: 3rem;
  font-weight: 300;
}

.titletext span {
  color: var(--bg);
  font-weight: 700;
  font-size: 3.5rem;
}

.row .col50 .imgbox {
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  height: 100%;
}

.row .col50 .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* About Us End */

/* Menu */


.title-text h2{
  text-align: center;
  color: var(--bg);
  font-size: 2.9rem;
  text-decoration:overline;
}

.popular{
  margin-top: 50px;
}

.menu-page-title{
  padding-block: 60px;
}
.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border-radius: 20px 20px 20px 20px;
  border: 15px solid #fff;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box:hover {
  transform: rotate(2deg);
}

.menu .content .menu-page:hover {
  transform: scale(1.04);
}

.menu .content .box .text {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #111;
}
.menu .content .box .text p {
  font-size: 2rem;
  font-weight:800;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#111;

}

/* Menu Ends */


/* Expert */

.expert .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.expert .content .box {
  width: 240px;
  margin: 15px;
}

.expert .content .box .imgbox {
  width: 100%;
  height: 300px;
}

.expert .content .box .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expert .content .box .text {
  text-align: center;
  padding: 15px 0 5px;
}

.expert .content .box .text h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #111;
}

.expert .content .box:hover {
  transform:translate(1ch, 1mm);;
}


/* Experts Ends */

/* Testimonials Starts */

.testimonials {
  background: url(Images/bg2.jpg);
  background-size: cover;
  background-position: center;
}
.testimonials .white .titletext,
.testimonials .white p {
  color: #fff;
}

.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  color: var(--bg);
  margin-top: 20px;

  font-size: 2rem;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.testimonials .content .box .imgbox {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Testominials Ends */

/* Contact */


.contact{
    background: url(Images/bg3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
}

.contactform{
    max-width: 500px;
    margin-top: 50px;
    padding: 75px 50px;
    background: var(--white);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.contactform h3{
    color: #111;
    font-size: 2.2rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{

    /* position: absolute; */
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    outline: none;
    color: #111;
    font-size: 1.6rem;
    resize: none;
}

.contactform .inputbox input[type="submit"]{
    font-size: 1.8rem;
    color:var(--white);
    background: var(--bg);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100%;
    border: none;
    cursor: pointer;

}

.copyrighttext{
    padding: 8px 40px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.copyrighttext p{
    color: #333;
}

.copyrighttext a{
    color:var(--bg);
    font-weight: 500;
}


/*Cart items*/

.cart img{
  border-radius: 20%;
}

.cart a{
  font-size: 1.6rem;
  font-weight: lighter;
}

.cart p{
  font-size: 2.4rem;
  font-weight: 600;
}

.cart small{
  font-weight: 300;
  font-size: 1.8rem;
}

.cart td{
  font-size: 1.8rem;
  font-weight: 400;
}


.cart-title{
  padding: 100px 0 0 0 !important;
}
.cart{
  padding: 0 100px 0 100px !important;
  margin-inline: auto;
  max-width: 1200px;
}

.cart-page {
  margin-top: 80px ;
  margin-inline: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 30px 10px;
  color: #fff;
  background: #11101d;
  font-weight:800;
  font-size: 2rem;
}
td {
  padding: 20px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color:#ff0157;
  font-size: 1.8rem;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: center;
}
.total-price table {
  border-top: 3px solid #11101d;
  width: 100%;
  min-width: 400px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}


@media (max-width:991px){
    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .nav-links{
        display: none;
    }

    header .nav-links.active{
        width: 100%;
        /* height: 100%; */
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: var(--white);
    }

    header .nav-links li a{
        color: #111;
        font-size: 2.6rem;
    }

    header .nav-links li {
        margin-left: 0px;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(Images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }


    .menuToggle.active{
        background: url(Images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }

    section{
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 5.5rem;
        color: var(--white);
    }

    .row {
     
        flex-direction: column;
    }
    
    .row .col50 {
        width: 100%;
    }

    .row .col50 .imgbox {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content {
        margin-top: 20px;
    }
    
    .menu .content .box {
        margin: 10px;
    }

    .menu .content .box .imgbox {
        height: 260px;
    }

    title {
        text-align: center;
    }

    .titletext {
        font-size: 2.2rem;
        line-height: 3rem;
        /* font-weight: 300; */
    }

    .testimonials .content .box {
        margin: 10px;
        padding: 23px;
    }


    .contactform {
        margin-top: 20px;
        padding: 36px 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px){
    .banner .content h2 {
    font-size: 4rem;
}
}